body {
    background: rgb(85, 144, 189);
    background: linear-gradient(
      90deg,
      rgb(189, 173, 85) 0%,
      rgba(39, 50, 58, 0) 54%,
      rgba(182, 216, 242, 1) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 0);
  }

  .pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: calc(180px * 5 + 1.5rem * 4);
    margin: auto;
    padding-bottom: 3rem;
  }

  p{
    color: black
  }